{
    "server_url": "xxxx.xxxx.xxxxx",
    "access_token": "xxxxxxxxxxxxxxxxxxxxxx",
    "username": "@chatgpt",
    "openai_api_key": "sk-xxxxxxxxxxxxxxxxxxx",
    "bing_api_endpoint": "http://api:3000/conversation",
    "bard_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxx.",
    "bing_auth_cookie": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
    "pandora_api_endpoint": "http://127.0.0.1:8008",
    "pandora_api_model": "text-davinci-002-render-sha-mobile"
}